:root {
    --main-font: Arial, Helvetica, sans-serif;
    --color-cards: hsl(240, 55%, 60%);
    --color-footer:hsl(65 55% 60%);
    --color-footer-hover:hsl(65 60% 65%);
}

body {
    margin:0;
    padding:0;
    font-family: var(--main-font);
}

.cards {
    display: flex;
    width: 100%;
    padding: 50px;
}

.cards .card {
    background-color: var(--color-cards);
    color:white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    display:flex;
    flex-direction: column;
    transition: all .3s ease;
    box-shadow: -3px 0 10px rgb(0 0 0 / .3),
                -4px 0 10px rgb(0 0 0 / .2),
                -5px 0 10px rgb(0 0 0 / .1);
    text-wrap: balance;
}

.cards .card a {
    color: var(--color-footer);
    text-decoration: none;
    font-weight: bold;
}

.cards .card a:hover {
    color: var(--color-footer-hover);
}

.cards .card .header {
    flex:1;
}

.cards .card:hover {
    margin-right: 80px;
    transform: rotate(3deg) translateY(-15px);
    cursor: pointer;
}

.cards .card .header .data {
    padding: 10px 0;
}

.cards .card .header .title {
    font-size: 28px;
}

.cards .card[class*="element"]{
    margin-left: -100px;
}