body {
    background-color: black;
  }
  
  .card {
    color:white;
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background-color: black;
    align-items: center;
    border-radius: 10px;
    position: relative;
  }
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .card::after, .card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    /* background-image: conic-gradient(from var(--angle), red, yellow, orange, blue); */
    background-image: conic-gradient(from var(--angle), transparent 60%, red);
    animation: 3s spin linear infinite;
  }
  
  .card::before {
    filter: blur(1.5rem);
  }
  
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  
  
  
  
  
  