body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    padding: 100px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor:pointer;
    font-size: 22;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark{
        position: absolute;
        border-radius: 3px;
        top:0;
        left:0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        transition: all .3s ease-in-out;

        .material-symbols-outlined{
            background: white;
            transform: scale(0);
            transition: all .3s ease-in-out;
        }


    }

    .checkmark.radio{
        position: absolute;
        border-radius: 50%;
        top:0;
        left:0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        transition: all .3s ease-in-out;

    }



    input:checked ~ .checkmark{
        background: #2196f3;
    }

    input:checked ~ .checkmark .material-symbols-outlined{
        transform: scale(1);
    }

    input:checked ~.checkmark.radio .circle{
        position: absolute;
        border-radius: 50%;
        top:6px;
        left:7px;
        height: 12px;
        width: 12px;
        background-color: white;
        transition: all .3s ease-in-out;
    }

}