*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(45deg, red, green);
}

.form-container {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;

    height: 90%;
    display: flex;
    align-items: center;
    
}

.form-container .login-container {
    width: 500px;
    margin: 0 auto;
    padding: 1em .8em;
}

.form-container .login-container > h2 {
    text-align: center;
    font-size: 2.5rem;
}

.form-container .login-container > p,
.form-container .login-container > span {
    text-align: center;
    color: #555;
}

.form-container .login-container label {
    display:block;
    font-weight: bold;
    padding: 5px 0;
}

.form-container .login-container input.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .login-container input.input:focus {
    outline: 1.5px solid #0099ff;
}

.login-container .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container .login-container .options a {
    color:#0099ff;
    text-decoration: none;
}

.form-container .login-container .options a:hover {
    text-decoration: underline;
}

.btn {
    border:0;
    padding: 15px 0;
    width: 100%;
    font-weight: bolder;
    display:block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor:pointer;
}

.form-container .login-container .providers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
}

.btn.btn-login {
    background-color: black;
    color:white;
}

.btn.btn-login:hover {
    background-color: #333;
}

.btn.btn-facebook {
    background-color: hsl(221, 44%, 41%);
    color:white;
}

.btn.btn-facebook:hover {
    background-color: hsl(221, 38%, 32%);
}

.btn.btn-google {
    background-color: #db4a39;
    color:white;
}

.btn.btn-google:hover {
    background-color: hsl(6, 62%, 48%);
}

.btn.btn-twitter {
    background-color: rgb(10 168 216);
    color:white;
}

.btn.btn-twitter:hover {
    background-color: hsl(194, 85%, 39%);
}


.form-container .welcome-screen-container {
    background-color: black;
    width:50%;
    height: 100%;
}


@media (max-width:1357px){
    .form-container{
        width: 95%;
    }

    .form-container .login-container {
        width: 400px;
        margin: 0 auto;
    }

    .form-container .welcome-screen-container {
        width: 40%;
    }

}

@media (max-width:700px){
    .form-container{
        width: 70%;
    }
    .form-container .login-container {
        width: 350px;
    }
    .form-container .welcome-screen-container {
        width: 0%;
    }
}



